<div class="flex flex-row content-center justify-between px-4 pt-4">
  <div>
    <h1 class="headline-4">Employee @if (title) { {{title}} }</h1>
  </div>
  <div>
    <button mat-icon-button color="primary" (click)="closeEmployeeForm()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="flex flex-col content-center p-10" [formGroup]="employeeForm">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Full Name" formControlName="fullName">
    <mat-error>This field is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error>This field is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Salary</mat-label>
    <input matInput placeholder="Salary" formControlName="salary" (keypress)="textAvoider($event)">
    <mat-error>This field is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Joined Date</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Joined Date" formControlName="joinedDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>This field is required.</mat-error>
  </mat-form-field>


  <div class="flex justify-end pt-2">
    <button mat-raised-button color="primary" (click)="onSubmission()">Save</button>
  </div>
</div>
